.swiper{
    height: 212px;
}
.nav {
    padding: 10px 0;
}
.nav {
    img{
        width: 48px;
    }
}

.nav {
    h2{
        font-size: 13px;
        font-weight: normal;
        margin-top: 7px;
    }
}
.nav {
    .am-flexbox-item{
        text-align: center;
    }
}